# Dataset and models
face_rec_dataset/
*.pickle

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.env

# Logs
logs/
*.log

# System specific
.DS_Store
Thumbs.db

# Virtual Environment
.venv/
venv/
ENV/

# Config files
*.json

# Image files
*.png
*.jpg
*.jpeg

# databse files
*.db